.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 20px auto 40px;
    padding: 14px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    width: fit-content;
    max-width: 90%;
}

.category-btn {

    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    transition: all 0.25s ease;
}

.category-btn:hover {
    background-color: #a8a8a8;
}

.category-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    box-shadow: 0 2px 6px rgba(0, 123, 255, 0.4);
}

/* Mobile optimized: buttons fit in one row, scrollable */
@media (max-width: 768px) {

    .category-section {
        display: flex;
        /* flex-wrap: nowrap; */
        /* prevent wrapping */
        overflow-x: auto;
        /* allow horizontal scroll */
        gap: 20px;
        padding: 20px 5px;
        width: 100%;
        /* justify-content: flex-start; */
        /* items start from left */
        scrollbar-width: none;
        /* hide scrollbar (Firefox) */
    }

    .category-section::-webkit-scrollbar {
        display: none;
        /* hide scrollbar (Chrome/Safari) */
    }

    .category-btn {
        flex: 0 0 auto;
        /* prevent shrinking */
        font-size: 10px;
        padding: 6px 12px;
        border-radius: 12px;
        white-space: nowrap;
        /* keep text on one line */
    }
}